Please enter your new password

<form action='/users/new_password' method='patch'>
	New Password: <input type="password" name="password" placeholder="New password">
	Confirm Password: <input type="password" name="password_confirmation" placeholder="Confirm password">
	<input type="hidden" name="password_token" value="<%= @user.password_token%>">
	<input type="submit" value="Reset password">
</form>







<!-- <h2>Please reset your password</h2>

<form action="/users/password_reset_confirmation" method="post">
	<input type="hidden" name="token" value="<%= params[:token]%>">
	password: <input name="password" type="password">
	confirm password: <input name"password_confirmation" type="password">
	<input type="submit" value="reset password">
</form> -->