Please enter email address to recover password
<form method="post" action="/users">
	Email: <input name="email" type="text" value="<%= @user.email %>">
	<input type="submit" value="Get password">
</form>