<h2>Please reset your password</h2>

<form action="/users/password_reset_confirmation" method="post">
	<input type="hidden" name="token" value="<%= params[:token]%>">
	password: <input name="password" type="password">
	confirm password: <input name"password_confirmation" type="password">
	<input type="submit" value="reset password">
</form>