<h1>Reset Password Request</h1>

<form method="post" action="/users/reset_password/">
	Email: <input type="text" name='email_reset'>
	<input type="submit" value="Reset password">
</form>





<!-- Please enter email address to recover password
<form method="post" action="/users">
	Email: <input name="email" type="text" value="<%# @user.email %>">
	<input type="submit" value="Get password">
</form> -->